<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #f1f1f1;
        color: black;
    }

    .next {
        background-color: #4CAF50;
        color: white;
    }

    .round {
        border-radius: 50%;
    }
  </style>
  </head>

  <body>
  <h1>Alert Buttons</h1>
  <a href="result/" class="next">Success</a>
  <!--<button class="btn info">Info</button>
  <button class="btn warning">Warning</button>
  <button class="btn danger">Danger</button>
  <button class="btn default">Default</button>-->
  </body>

</html>
